<div class="page-container">
    <form [formGroup]="planetForm"
                  (ngSubmit)="onSubmit()">
    <div class="header-container">
        <span class="header-title">
            XPAND
        </span>
    </div>
    <div class="list-container">
        <div class="planet-card" 
             *ngFor="let planet of planets">
            <!-- <form [formGroup]="planetForm" -->
                  <!-- (ngSubmit)="onSubmit()"> -->
                <div class="image-container">
                    <img class="terra-image" 
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/The_Blue_Marble_%28remastered%29.jpg/300px-The_Blue_Marble_%28remastered%29.jpg">
                    <span class="name-label">
                        {{planet.name | uppercase}}
                    </span>
                </div>
                <div class="description-container">
                    <div *ngIf="selectedPlanet != planet">
                        <div *ngIf="planet.description&&planet.teamDto">
                            <span class="description-label"
                                  (click)="onSelect(planet)">
                                "{{planet.description}}"
                            </span>
                            <div class="captain-container">
                                <span class="by-captain-label">
                                    By captain: 
                                </span>
                                <span class="captain-label">
                                    {{planet.teamDto.captain.name}}
                                </span>
                            </div>
                            <div class="robots-container">
                                <span class="robots-label">
                                    Robots:
                                </span>
                                <span *ngFor="let robot of planet.teamDto.robots">
                                    {{robot.name }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group" *ngIf="selectedPlanet == planet">
                        <input id="description"
                               type="text"
                               formControlName="description">
                        <button class="button" type="submit">send</button>
                    </div>
                
                    <span *ngIf="!planet.description || !planet.teamDto"
                        class="description-label">
                        No description yet :/
                    </span>
                </div>
                <div class="status-container">
                    <div *ngIf="selectedPlanet != planet">
                        <span class="status-label"
                             [ngClass]="{
                                'green' : planet.status == 'OK',
                                'red' : planet.status == '!OK',
                                'gray' : planet.status == 'En route'
                                }"
                                (click)="onSelect(planet)">
                            {{planet.status}}
                        </span>
                    </div>
                    
                    <div class="input-group" *ngIf="selectedPlanet == planet">
                        <input id="status"
                               type="text"
                               formControlName="status">
                        <button class="button" type="submit">send</button>
                    </div>
                </div>
            <!-- </form> -->
        </div>
    </div>
    </form>
</div>